<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1160B7E8-FB96-40F9-8E75-54D577A6CFBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0327357D-7BA3-4217-8D48-DA1C3E010123</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E37AA1DE-60F7-4671-92C2-14C9E95C9FB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1160B7E8-FB96-40F9-8E75-54D577A6CFBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lee Jones</string>
	<key>description</key>
	<string>Alfred commands for Rdio</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Rdio</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./bin/rdio {query} 2&gt;&amp;1</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1160B7E8-FB96-40F9-8E75-54D577A6CFBB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>rd</string>
				<key>subtext</key>
				<string>Control Rdio.app (add|remove|play|pause|next|previous)</string>
				<key>text</key>
				<string>Rdio</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E37AA1DE-60F7-4671-92C2-14C9E95C9FB6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Rdio</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0327357D-7BA3-4217-8D48-DA1C3E010123</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0327357D-7BA3-4217-8D48-DA1C3E010123</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1160B7E8-FB96-40F9-8E75-54D577A6CFBB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E37AA1DE-60F7-4671-92C2-14C9E95C9FB6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://leejones.github.io/</string>
</dict>
</plist>
